<h1>favorite_microposts</h1>
<div class ="panel panel-default">
    <div class="panel-heading">
        <h4>favorite message index</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
             <tr>
                <th class="col-sm-2">user id</th>
                <th class="col-sm-8">micropost id</th>
             </tr>
            </thead>
            <tbody>
            <% @favorite_microposts.each do |favorite_micropost| %>
              <tr>
                <td>
                    <%= favorite_micropost.user_id %>
                </td>
                <td>
                    <%= favorite_micropost.micropost_id %>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>

    </div>
</div>